*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
lib/vimitator/parser.output
lib/vimitator/parser.rb
lib/vimitator/scanner.rb
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.sw?
*.un\~
